<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="/spec/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/spec/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/spec/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/spec/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/spec/Scripts/jasmine/boot.js"></script>

    <!-- include source files here... -->
    <!--DEBUG: -->
    <script type="text/javascript" src="~/src/AssetManager.js" defer></script>
    <script type="text/javascript" src="~/src/CanvasManager.js" defer></script>
    <script type="text/javascript" src="~/src/Controller.js" defer></script>
    <script type="text/javascript" src="~/src/Dialog.js" defer></script>
    <script type="text/javascript" src="~/src/Entity.js" defer></script>
    <script type="text/javascript" src="~/src/Game.js" defer></script>
    <script type="text/javascript" src="~/src/Input.js" defer></script>
    <script type="text/javascript" src="~/src/MathUtil.js" defer></script>
    <script type="text/javascript" src="~/src/Sprite.js" defer></script>
    <!--RELEASE: 
    <script type="text/javascript" src="~/build/vastengine.js" defer></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="~/spec/AssetManagerSpec.js"></script>
    <script type="text/javascript" src="~/spec/CanvasManagerSpec.js"></script>
    <script type="text/javascript" src="~/spec/ControllerSpec.js"></script>
    <script type="text/javascript" src="~/spec/DialogSpec.js"></script>
    <script type="text/javascript" src="~/spec/EntitySpec.js"></script>
    <script type="text/javascript" src="~/spec/GameSpec.js"></script>
    <script type="text/javascript" src="~/spec/InputSpec.js"></script>
    <script type="text/javascript" src="~/spec/MathUtilSpec.js"></script>

    
</head>
<body></body>
</html>