<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="/tests/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/tests/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/tests/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/tests/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/tests/Scripts/jasmine/boot.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="~/tests/spec/AssetManagerSpec.js" defer></script>
    <script type="text/javascript" src="~/tests/spec/CanvasManagerSpec.js"></script>
    <script type="text/javascript" src="~/tests/spec/ControllerSpec.js"></script>
    <script type="text/javascript" src="~/tests/spec/EntitySpec.js"></script>
    <script type="text/javascript" src="~/tests/spec/GameSpec.js"></script>
    <script type="text/javascript" src="~/tests/spec/MathUtilSpec.js"></script>
    
    <!-- include source files here... -->
    <script type="text/javascript" src="~/js/jquery-2.1.1.min.js" defer></script>
    <script type="text/javascript" src="~/js/engine/AssetManager.js" defer></script>
    <script type="text/javascript" src="~/js/engine/CanvasManager.js" defer></script>
    <script type="text/javascript" src="~/js/engine/Controller.js" defer></script>
    <script type="text/javascript" src="~/js/engine/Entity.js" defer></script>
    <script type="text/javascript" src="~/js/engine/MathUtil.js" defer></script>
    <script type="text/javascript" src="~/js/engine/Game.js" defer></script>
</head>
<body>
    <canvas id="theCanvas" width="0" height="0"></canvas>
</body>
</html>