<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="/tests/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/tests/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/tests/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/tests/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/tests/Scripts/jasmine/boot.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="~/tests/spec/BrickbotSpec.js"></script>

    <!-- include source files here... -->
    <script type="text/javascript" src="~/js/jquery-2.1.1.min.js" async></script>
    <script type="text/javascript" src="~/js/engine.js" async></script>
</head>
<body>
    <canvas id="theCanvas" width="0" height="0"></canvas>
</body>
</html>