
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="~/spec/BrickbotSpec.js"></script>
</head>

<body>
    <!-- include source files here... -->
    <canvas id="theCanvas" width="0" height="0"></canvas>
    <script type="text/javascript" src="~/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/engine.js"></script>
</body>
</html>
